@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Code+Pro:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: auto;
    height: 100vh;
    height: calc(100vh - 6.5rem);
    min-height: calc(100vh - 6.5rem);
}

.projects-wrapper {
    margin: auto;
    overflow-y: auto;
    /** create layout for project items **/
}

.projects-items-wrapper {
    margin: auto;
    display: flex;
    width: calc((3*350px) + (12 * 20px));
    align-items: center;
    flex-direction: row;

}

.projects-carousel {
    color: #03312E;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    flex-direction: row;
    width: calc((3*350px) + (6 * 20px));
    align-items: center;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */


}

.projects-carousel::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.project-card {
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    height: 400px;
    flex-shrink: 0;
    overflow: hidden;
    margin: 20px;
    width: 350px;
}

.project-card>figure {
    width: 100%;
    margin: 0 auto 0 auto;
    background-position: center center;
}

.project-card>figure>img {
    width: 100%;
    transition: box-shadow .7s ease-in-out,
        top .7s ease-in-out;
    -webkit-filter: grayscale(80%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
}

.project-card:hover img {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    filter: saturate(1.5);

}

.project-details {
    background-color: #FFF;
    padding: 20px;
    position: absolute;
    top: 80%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
        top .3s ease-in-out;
}

.project-card:hover .project-details {
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
    top: 62%;
}

.project-details>.min-details {
    margin-bottom: 20px;
}

.project-details>.min-details {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.project-details>.min-details>h1>span {
    color: #7B7B7B;
    display: block;
    text-align: start;
    font-size: .9rem;
    font-weight: 400;
}

.project-details>.min-details>span {
    font-family: 'Source Code Pro', sans-serif;
}

.btn {
    background-color: #03312E;
    border-radius: 5px;
    color: #FFF;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
        transform .3s ease-in-out;
}

.btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    transform: translateY(-2px);
}

.carousel-control {
    width: 50px;
    height: 50px;
    border: 1px solid #03312E;
    background-color: #03312E;
    font-size: 30px;
    color: #fff;
    margin: 0 10px 0 10px;
    text-align: center;
    line-height: 44px;
    text-shadow: none;
    opacity: 1;
}

.carousel-control:hover {
    cursor: pointer;
}


@media only screen and (max-width: 517px) {

    .projects-container {
        display: table;
        text-align: center;
        height: 100vh;
        height: calc(100vh - 7rem);
        min-height: calc(100vh - 7rem);
    }

}

@media screen and (max-width: 630px) {

    /*
    Projects-wrapper >> project-items-wrapper >> projects-carousel
    */

    /*flow is column here*/
    .projects-items-wrapper {
        width: 100%;
        position: absolute;
        top: 4.5em;
        bottom: 2em;
        flex-direction: column;
        justify-content: center;
        min-height: 0;
    }


    .projects-carousel {
        max-width: 360px;
        flex: 1;
        flex-wrap: wrap;
        overflow-y: auto;
    }

    .project-card {
        position: relative;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        height: 345px;
        flex-shrink: 0;
        overflow: hidden;
        margin: 10px;
        width: 340px;
    }

    .project-details {
        top: 58%;
    }

    .project-card:hover .project-details {
        box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
        top: 56%;
    }

    .project-details>.min-details>h1>span {
        font-size: .7rem;
        font-weight: 250;
    }

    /** hide carousel control **/
    .carousel-control {
        display: none;
    }

}

@media only screen and (min-width: 630px) and (max-width: 850px) {

    .projects-items-wrapper {
        width: calc((14*10px) + (2*90px) + 270px);
    }

    .projects-carousel {
        width: calc((2*90px) + (4 * 10px) + 270px);

    }

    .project-card {
        width: 270px;
        margin: 10px;
    }

    .project-details>.min-details>h1>span {
        font-size: .7rem;
        font-weight: 250;
    }

    .project-details {
        top: 65%;
    }

}

@media only screen and (min-width: 851px) and (max-width: 1290px) {

    .projects-items-wrapper {
        width: calc((12*20px) + (2*300px) + 10px);
    }

    .projects-carousel {
        width: calc((2*300px) + (4 * 20px));

    }

    .project-card {
        width: 300px;
    }


    .project-details {
        top: 63%;
    }

}