<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<title><%= title %></title>
<meta name="viewport" content="device-width, initial-scale=1">
<!-- <base href="."> -->
<link rel="shortcut icon" href="/assets/images/favicon.ico">
<!-- icon css sheet-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/style/all.css" type="text/css">
<link rel="stylesheet" href="/assets/style/nav-bar.css" type="text/css">


<style>  
</style>