<nav class="nav-bar">

    <div class="nav-container">
        <input type="checkbox" id="navbar-toggle">
        <label for="navbar-toggle" class="hamburger-menu-label">
            <div class="hamburger-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </label>

        <a href="/" class="nav-logo">Brandon Ngacho</a>

        <ul class="nav-menu">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-me">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact-me">Contact Me</a>
            </li>
        </ul>

    </div>

</nav>