<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/app/view/blog/admin/">
    <link rel="stylesheet" href="../../navigation/nav-bar.css">
    <link rel="stylesheet" href="../../../../all.css">
    <link rel="shortcut icon" href="../../../../images/favicon.ico">
    <link rel="stylesheet" href="./blogs_to_edit.css">
    <!-- icon css sheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Blog editing home</title>
</head>

<body>

    <header class="main-navigation">
        <nav class="nav-bar">
            <div class="hamburger-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

            <a href="/" class="nav-logo">Brandon Ngacho</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-me">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-me">Contact Me</a>
                </li>
            </ul>

        </nav>
    </header>

    <div class="blog-posts-container">
        <h2 class="blog-posts-header">
            Pick a blog to edit
        </h2>

        <div class="blog-list-container">

            <table class="blog-items-table">
                <thead class="table-headings">
                    <tr class="blog-items-heading">
                        <th class="blog-time-heading">
                            <h4>Last modified</h4>
                        </th>
                        <th class="blog-title-heading">
                            <h4>Blog title</h4>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-body">

                </tbody>
            </table>
        </div>

    </div>


    <script src="../../navigation/navigation.js"></script>
    <script src="../../../blogs-to-edit-app.js" type="module"></script>

</body>