<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="../">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.css" integrity="sha384-ko6T2DjISesD0S+wOIeHKMyKsHvWpdQ1s/aiaQMbL+TIXx3jg6uyf9hlv3WWfwYv" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.js" integrity="sha384-tsPOhveNsi36uhglzMBNOAA2xd7LlEqQuQHFKi4DwP+6UKrrLGub1MD77Zx18F8e" crossorigin="anonymous"></script>
    <script defer src="https://cdn.rawgit.com/showdownjs/showdown/2.1.0/dist/showdown.min.js" ></script>
    <!-- icon css sheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Write/Edit a Blog</title>
</head>

<body>
    <header class="main-navigation">
        <nav class="nav-bar">
            <div class="hamburger-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

            <a href="/" class="nav-logo">Brandon Ngacho</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-me">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-me">Contact Me</a>
                </li>
            </ul>

        </nav>
    </header>

    <div class="blog-editor-wrapper">

        <div class="blog">
            <textarea type="text" class="title" placeholder="Blog title..."></textarea>
            <textarea type="text" class="tags" placeholder="Enter tags here. Separate multiple tags with commas..."></textarea>
            <textarea type="text" class="post-descript" placeholder="Describe/Summarize the post here..."></textarea>
            <textarea type="text" class="article" placeholder="Start writing here... use markdown formatting for the best experience."></textarea>
            

            <div class="blog-options">
                <button class="btn dark publish-btn">Publish</button>
            </div>
        </div>

        <div class="blog-preview-container">
            <div class="blog-content">
                <h1 class="blog-heading-preview"></h1>
                <time class="blog-time-preview"></time>
                <blockquote class="post-description-preview"></blockquote>
                <article class="blog-post-article-preview"></article>
            </div>



        </div>
        
    </div>


</body>

</html>