@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.projects-container {
    display: table;
    width: 100%;
    height: 100vh;
    height: calc(100vh - 6.5rem);
    min-height: calc(100vh - 6.5rem);
}

.projects-wrapper{
    vertical-align: middle;
    display: table-cell;
}

.projects-items-wrapper {
    color: #03312E;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.project-card {
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    height: 450px;
    overflow: hidden;
    margin: auto;
    width: 350px;
}

.project-card>figure {
    width: 100%;
    margin: 0 auto 0 auto;
    background-position: center center;
}

.project-card>figure>img {
    width: 100%;
    transition: box-shadow .7s ease-in-out,
        top .7s ease-in-out;
    -webkit-filter: grayscale(80%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
}

.project-card:hover img {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    filter: saturate(1.5);

}

.project-details {
    background-color: #FFF;
    padding: 20px;
    position: absolute;
    top: 84%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
        top .3s ease-in-out;
}

.project-card:hover .project-details {
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
    top: 69%;
}

.project-details>.min-details {
    margin-bottom: 20px;
}

.project-details>.min-details {
    display: flex;
    justify-content: space-between;
}

.project-details>.min-details>h1>span {
    color: #7B7B7B;
    display: block;
    text-align: start;
    font-size: .9rem;
    font-weight: 400;
}

.project-details>.min-details>span {
    font-family: 'Source Code Pro', sans-serif;
}

.btn {
    background-color: #03312E;
    border-radius: 5px;
    color: #FFF;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
        transform .3s ease-in-out;
}

.btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    transform: translateY(-2px);
}

@media only screen and (max-width: 517px) {

    .projects-container {
        display: table;
        width: 100%;
        text-align: center;
        height: 100vh;
        height: calc(100vh - 7rem);
        min-height: calc(100vh - 7rem);
    }
}