
.main-footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #0c312e;
    color: white;
    padding: 10px;
    font-weight: 150;
    font-size: 0.7em;
    font-family: 'Source Code Pro', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 99999;
}
