<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/app/view/projects/admin/">
    <link rel="stylesheet" href="../../navigation/nav-bar.css">
    <link rel="stylesheet" href="../../../../all.css">
    <link rel="shortcut icon" href="../../../../images/favicon.ico">
    <link rel="stylesheet" href="./projects_to_edit.css">
    <!-- icon css sheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Projects Editing</title>
</head>

<body>
    <header class="main-navigation">
        <nav class="nav-bar">
            <div class="hamburger-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

            <a href="/" class="nav-logo">Brandon Ngacho</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-me">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-me">Contact Me</a>
                </li>
            </ul>

        </nav>
    </header>

    <div class="projects-parent-container">
        <div class="header-wrapper">
            <h2 class="project-list-header">
                Pick a project to edit
            </h2>
        </div>
        

        <div class="project-list-container">

            <div class="project-gallery">  
            </div>

        </div>

        <a href="/admin/new-project">
            <div class="rounded-button">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
        </a>
        
    </div>

    
    <script src="../../../view-project-app.js" type="module"></script>
    <script src="../../navigation/navigation.js"></script>


</body>