<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Select Bio to edit</title>
    <meta name="viewport" content="device-width, initial-scale=1">
    <base href="/app/view/bio/admin/">
    <link rel="stylesheet" href="./edit-bio-list.css">
    <link rel="stylesheet" href="../../../../all.css">
    <link rel="shortcut icon" href="../../../../images/favicon.ico">
    <link rel="stylesheet" href="../../navigation/nav-bar.css">
    <!-- icon css sheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="main-navigation">
        <nav class="nav-bar">
            <div class="hamburger-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

            <a href="/" class="nav-logo">Brandon Ngacho</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-me">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-me">Contact Me</a>
                </li>
            </ul>

        </nav>
    </header>

    <div class="bio-gallery-wrapper">
        <div class="bio-gallery">


            <a href="/admin/add-bio">
                <div class="rounded-button">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </a>

            
        </div>
    </div>


    <script src="../../navigation/navigation.js"></script>
    <script src="../../../bio-list-app.js" type="module"></script>
</body>

</html>