@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.blog-container {
    height: calc(100vh - 6.5rem);
    min-height: calc(100vh - 6.5rem);
    overflow: auto;
}

.blog-heading-wrapper {
    height: 120px;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    background-image: url('../images/graph-background.png');
    color: #03312E;
}

.blogs-wrapper {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 3em;
    padding: 0rem 3rem 2rem 3rem;
}

.blog-item {
    font-family: 'Source Code Pro', ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial;
    border-top: 1px solid rgba(3, 49, 46, 0.2);
    padding: 2rem 0rem 2rem 0rem;
}

.blog-item:nth-last-child(-n+2) {
    border-bottom: 1px solid rgba(3, 49, 46, 0.2);
}

.blog-item>time {
    color: rgba(67, 82, 81, 0.7);
    font-size: .75rem;
    line-height: 1rem;
}

.blog-item>.post-title {
    font-size: 1.2rem;
    line-height: 1.75rem;
    letter-spacing: -.02em;
    font-weight: 600;
}

.blog-item > .post-title, .post-short-desc, .tags>a{
    cursor: pointer;
}

.blog-item>.post-short-desc {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-top: .75rem;
    color: rgba(6, 10, 9, 0.6);
}

.blog-item>.tags {
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: .75rem;
    line-height: 1rem;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1em;
}