@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Code+Pro:wght@300;500&display=swap');

img{
    max-width: 350px;
    height: auto;
}

.header-wrapper{
    margin: auto;
    width: max-content;
}



.file-details-form{
    opacity: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 14px; 
}


.add-files-container{
    width: 80%;
    min-width: 380px;
    min-height: 480px;
    height: calc(100vh - 5rem);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    margin: auto;
}

.add-files-wrapper{
    flex-direction: column;
    align-self: center;
    padding: 12px;
    min-width: 320px;
    width: max-content;
    
}

.add-files-wrapper > img{
    max-width: 360px;
    outline: 1px solid red;
}

.file-cover-container{
    width: max-content;
    margin: auto;
}
.file-cover-input-container{
    margin: 8px;
}

.title{
    width: 360px;
    height: auto;
    outline: none;
    min-width: 250px;
    font-size: 20px;
    font-weight: 200;
    color: rgba(3, 49, 46, 0.9);
    resize: none;
    border: none;
    padding: 4px;
    outline: 1px solid rgba(3, 49, 46, 0.2);
    border-radius: 4px;
    margin: 8px;
}

.title::placeholder {
    color: rgba(3, 49, 46, 0.7);
}

.post-file{
    margin: 12px auto 0px auto;
}

.file-url-active{
    margin-top: 20px;
    font-family: 'source code pro', monospace;
    width: 90%;
}

.file-url-active > p{
    font-size: 20px;
    font-weight: 200;
    color: rgba(3, 49, 46, 0.9);
    margin: 8px;
}

.file-url {
    opacity: 0;
}

.file-url-active > button{
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 3px;
    font-size: 20px;
    background: rgba(3, 49, 46, 1);
    color: #fff;
}

.btn {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 3px;
    font-size: 20px;
    background: rgba(3, 49, 46, 1);
    color: #fff;
}

#post-file-button[disabled]{
    background: rgba(3, 49, 46, 0.7);
    cursor: not-allowed;
}